.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: yellow;
    color: white;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    color: black;
}

.login-button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.login-button:hover {
    background-color: #777;
}
